.container{
    margin-left: 220px;
}
.headerMsg{
    margin-top: 50px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 30px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #ffffff, 0 0 82px #141414, 0 0 92px #0fa;
}
.sideNav{
    background-color: grey;
    width: 15%;
    height: 100vh;
}
.primaryButton{
    background-color: #316567eb;
    padding: 5px 10px;
    border-radius: 5px;
    color: #ffff;
    float: right;
}